{{^abstract}}
    @{{TYPES.Javax.Annotation.Nonnull}}
    public static Builder {{#extendedByOtherShape}}{{#camelCase}}{{className}}{{/camelCase}}B{{/extendedByOtherShape}}{{^extendedByOtherShape}}b{{/extendedByOtherShape}}uilder() {
        return new Builder();
    }

    /**
    * Builder for {@link {{className}}}.
    */
    {{#extendedByOtherShape}}
        public static class Builder extends {{type}}.AbstractBuilder<Builder>
                                    implements {{TYPES.Client.Util.CopyableBuilder}}<Builder, {{className}}>{{#shouldImplementPlainDeserializable}}, {{TYPES.Client.Json.PlainDeserializable}}<Builder>{{/shouldImplementPlainDeserializable}}{
            public Builder() {}

            private Builder({{className}} o) {
                super(o);
            }

            private Builder(Builder o) {
                super(o);
            }

            @Override
            @{{TYPES.Javax.Annotation.Nonnull}}
            public Builder copy() {
                return new Builder(this);
            }

            {{>ObjectShape/Builder/SelfImpl}}

            {{>ObjectShape/Builder/BuildImpl}}
        }
    {{/extendedByOtherShape}}
    {{^extendedByOtherShape}}
        {{#extendsOtherShape}}
            public static class Builder extends {{extendsType}}.AbstractBuilder<Builder>
                                        implements {{TYPES.Client.Util.CopyableBuilder}}<Builder, {{className}}> {{#shouldImplementPlainDeserializable}}, {{TYPES.Client.Json.PlainDeserializable}}<Builder>{{/shouldImplementPlainDeserializable}} {
                {{>ObjectShape/Builder/Fields}}

                public Builder() {}

                private Builder({{className}} o) {
                    {{>ObjectShape/Builder/CopyCtorImpl}}
                }

                private Builder(Builder o) {
                    {{>ObjectShape/Builder/CopyCtorImpl}}
                }

                @Override
                @{{TYPES.Javax.Annotation.Nonnull}}
                public Builder copy() {
                    return new Builder(this);
                }

                {{>ObjectShape/Builder/SelfImpl}}

                {{>ObjectShape/Builder/Setters}}

                {{>ObjectShape/Builder/BuildImpl}}
            }
        {{/extendsOtherShape}}
        {{^extendsOtherShape}}
            public static class Builder extends {{TYPES.Client.Util.ObjectBuilderBase}}
                                        implements {{TYPES.Client.Util.CopyableBuilder}}<Builder, {{className}}>{{#shouldImplementPlainDeserializable}}, {{TYPES.Client.Json.PlainDeserializable}}<Builder>{{/shouldImplementPlainDeserializable}} {
                {{>ObjectShape/Builder/Fields}}

                public Builder() {}

                private Builder({{className}} o) {
                    {{>ObjectShape/Builder/CopyCtorImpl}}
                }

                private Builder(Builder o) {
                    {{>ObjectShape/Builder/CopyCtorImpl}}
                }

                @Override
                @{{TYPES.Javax.Annotation.Nonnull}}
                public Builder copy() {
                    return new Builder(this);
                }

            {{#shouldImplementPlainDeserializable}}
                {{>ObjectShape/Builder/SelfImpl}}

            {{/shouldImplementPlainDeserializable}}

                {{>ObjectShape/Builder/Setters}}

                {{>ObjectShape/Builder/BuildImpl}}
            }
        {{/extendsOtherShape}}
    {{/extendedByOtherShape}}
{{/abstract}}
{{#extendedByOtherShape}}
    protected abstract static class AbstractBuilder<BuilderT extends AbstractBuilder<BuilderT>>
        extends {{#extendsOtherShape}}{{extendsType}}.AbstractBuilder<BuilderT>{{/extendsOtherShape}}{{^extendsOtherShape}}{{TYPES.Client.Util.ObjectBuilderBase}}{{/extendsOtherShape}} {
        {{>ObjectShape/Builder/Fields}}

        protected AbstractBuilder() {}

        protected AbstractBuilder({{className}} o) {
            {{>ObjectShape/Builder/CopyCtorImpl}}
        }

        protected AbstractBuilder(AbstractBuilder<BuilderT> o) {
            {{>ObjectShape/Builder/CopyCtorImpl}}
        }
    {{^extendsOtherShape}}

        @{{TYPES.Javax.Annotation.Nonnull}}
        protected abstract BuilderT self();
    {{/extendsOtherShape}}

        {{>ObjectShape/Builder/Setters}}
    }
{{/extendedByOtherShape}}