{{#description}}
/**
* {{.}}
*/
{{/description}}
{{#annotations}}
@{{.}}
{{/annotations}}
public class {{className}}{{#extendsType}} extends {{.}}{{/extendsType}}{{#implementsType}} implements {{.}}{{/implementsType}}