{{^extendedByOtherShape}}
    private {{className}}(Builder builder) {
{{/extendedByOtherShape}}
{{#extendedByOtherShape}}
    protected {{className}}(AbstractBuilder<?> builder) {
{{/extendedByOtherShape}}
        {{>ObjectShape/ConstructorImpl}}
    }
{{^abstract}}

    public static {{className}} {{#extendedByOtherShape}}{{#camelCase}}{{className}}{{/camelCase}}Of{{/extendedByOtherShape}}{{^extendedByOtherShape}}of{{/extendedByOtherShape}}({{type.builderFnType}} fn) {
        return fn.apply(new Builder()).build();
    }
{{/abstract}}