{{^canBeSingleton}}
{{^abstract}}
    /**
     * Json deserializer for {@link {{className}}}
     */
    public static final {{TYPES.Client.Json.JsonpDeserializer}}<{{className}}> _DESERIALIZER = {{TYPES.Client.Json.ObjectBuilderDeserializer}}.lazy(Builder::new, {{className}}::setup{{className}}Deserializer);

{{/abstract}}
{{^extendedByOtherShape}}
    protected static void setup{{className}}Deserializer({{TYPES.Client.Json.ObjectDeserializer}}<{{type.builderType}}> op) {
{{/extendedByOtherShape}}
{{#extendedByOtherShape}}
    protected static <BuilderT extends AbstractBuilder<BuilderT>> void setup{{className}}Deserializer({{TYPES.Client.Json.ObjectDeserializer}}<BuilderT> op) {
{{/extendedByOtherShape}}
    {{#extendsOtherShape}}
        setup{{extendsType.name}}Deserializer(op{{#extendsType.typeParams}}, {{>Type/deserializer}}{{/extendsType.typeParams}});
    {{/extendsOtherShape}}
    {{>ObjectShape/Deserialize/Fields}}
    {{#additionalPropertiesField}}
        op.setUnknownFieldHandler((builder, name, parser, mapper) -> {
            if (builder.{{name}} == null) {
                builder.{{name}} = new {{TYPES.Java.Util.HashMap}}<>();
            }
            builder.{{name}}.put(name, {{#type.mapValueType}}{{>Type/deserializer}}{{/type.mapValueType}}.deserialize(parser, mapper));
        });
    {{/additionalPropertiesField}}
    {{#distinctDiscriminatorFieldValues}}

        op.ignore({{#quoted}}{{key}}{{/quoted}});
    {{/distinctDiscriminatorFieldValues}}
    {{#singleKeyMap}}
        op.setKey(Builder::{{name}}, {{#type}}{{>Type/deserializer}}{{/type}});
    {{/singleKeyMap}}
    {{#shortcutProperty}}

        op.shortcutProperty({{#quoted}}{{.}}{{/quoted}});
    {{/shortcutProperty}}
    }
{{/canBeSingleton}}
{{#isEmptyObject}}
    /**
    * Singleton instance for {@link {{className}}}.
    */
    public static final {{className}} _INSTANCE = builder().build();

    public static final {{TYPES.Client.Json.JsonpDeserializer}}<{{className}}> _DESERIALIZER = {{TYPES.Client.Json.JsonpDeserializer}}.emptyObject({{className}}._INSTANCE);
{{/isEmptyObject}}