    public static final JsonpDeserializer<{{className}}> _DESERIALIZER = ObjectBuilderDeserializer.lazy(Builder::new, {{className}}::setup{{className}}Deserializer);

    protected static void setup{{className}}Deserializer(ObjectDeserializer<{{className}}.Builder> op) {
    {{#bodyFields}}
        op.add(Builder::{{name}}, {{#type}}{{>Type/deserializer}}{{/type}}, {{#quoted}}{{wireName}}{{/quoted}});
    {{/bodyFields}}
    }