/**
 * {@link {{union.className}}} variant kind.
 */
@Override
public {{union.type}}.Kind _{{#camelCase}}{{union.className}}{{/camelCase}}Kind() {
    return {{union.type}}.Kind.{{#pascalCase}}{{discriminatorValue}}{{/pascalCase}};
}