    public boolean equals(Object o) {
        {{#extendsOtherShape}}
            if(!super.equals(o)) {
                return false;
            }
        {{/extendsOtherShape}}
        if(this == o) return true;
        if(o == null || this.getClass() != o.getClass()) return false;
        {{^hasFields}}
        return true;
        {{/hasFields}}
        {{#hasFields}}
            {{className}} other = ({{className}})o;
            return
            {{#fields}}
                {{#required}}
                    {{#type.isPrimitive}}
                        this.{{name}} == other.{{name}}
                    {{/type.isPrimitive}}
                    {{^type.isPrimitive}}
                        this.{{name}}.equals(other.{{name}})
                    {{/type.isPrimitive}}
                {{/required}}
                {{^required}}
                    {{TYPES.Java.Util.Objects}}.equals(this.{{name}}, other.{{name}})
                {{/required}}
                {{^-last}}
                && 
                {{/-last}}
            {{/fields}};
        {{/hasFields}}
    }
