    public int hashCode() {
        int result = 17;
        {{#fields}}
            {{#isUnboxedPrimitive}}
                result = 31 * result + {{getBoxedType}}.hashCode(this.{{name}});
            {{/isUnboxedPrimitive}}
            {{^isUnboxedPrimitive}}
                {{#isRequired}}
                    result = 31 * result + this.{{name}}.hashCode();
                {{/isRequired}}
                {{^isRequired}}
                    result = 31 * result + ({{name}} != null ? this.{{name}}.hashCode() : 0);
                {{/isRequired}}
            {{/isUnboxedPrimitive}}
        {{/fields}}
        return result;
    }
