    public int hashCode() {
        return Objects.hash(
{{#extendsOtherShape}}
                super.hashCode(){{#hasFieldsToSerialize}},{{/hasFieldsToSerialize}}
{{/extendsOtherShape}}
{{#fields}}
                this.{{name}}{{^-last}},{{/-last}}
{{/fields}}
        );
    }
