    public void serialize(JsonGenerator generator, JsonpMapper mapper) {
        generator.writeStartObject();
        serializeInternal(generator, mapper);
        generator.writeEnd();
    }

    protected void serializeInternal(JsonGenerator generator, JsonpMapper mapper) {
{{#bodyFields}}
    {{^required}}
        {{#type.isListOrMap}}
        if (ApiTypeHelper.isDefined(this.{{name}})) {
        {{/type.isListOrMap}}
        {{^type.isListOrMap}}
        if (this.{{name}} != null) {
        {{/type.isListOrMap}}
    {{/required}}
            generator.writeKey({{#quoted}}{{wireName}}{{/quoted}});
            {{#type.serializer}}this.{{name}}{{/type.serializer}}
    {{^required}}
        }
    {{/required}}

{{/bodyFields}}
    }