{{^extendsOtherShape}}
    /**
     * Serialize this object to JSON.
     */
    @Override
    public void serialize({{TYPES.Jakarta.Json.Stream.JsonGenerator}} generator, {{TYPES.Client.Json.JsonpMapper}} mapper) {
        generator.writeStartObject();
        serializeInternal(generator, mapper);
        generator.writeEnd();
    }

{{/extendsOtherShape}}
    protected void serializeInternal({{TYPES.Jakarta.Json.Stream.JsonGenerator}} generator, {{TYPES.Client.Json.JsonpMapper}} mapper) {
{{#singleKeyMap}}
    generator.writeStartObject(this.{{name}});
{{/singleKeyMap}}
{{#distinctDiscriminatorFieldValues}}
    generator.write({{#quoted}}{{key}}{{/quoted}}, {{#quoted}}{{value}}{{/quoted}});
{{/distinctDiscriminatorFieldValues}}
{{#extendsOtherShape}}
    super.serializeInternal(generator, mapper);
{{/extendsOtherShape}}
{{#additionalPropertiesField}}
    {{#type.directSerializer}}this.{{name}}{{/type.directSerializer}}
{{/additionalPropertiesField}}
{{>ObjectShape/Serialize/Fields}}
{{#singleKeyMap}}
    generator.writeEnd();
{{/singleKeyMap}}
    }