    @Override
    public int hashCode() {
    {{#extendsOtherShape}}
        int result = super.hashCode();
    {{/extendsOtherShape}}
    {{^extendsOtherShape}}
        int result = 17;
    {{/extendsOtherShape}}
        result = 31 * result + {{TYPES.Java.Util.Objects}}.hashCode(this._kind);
        result = 31 * result + {{TYPES.Java.Util.Objects}}.hashCode(this._value);
        {{>ObjectShape/HashCode/Fields}}
        return result;
    }
