    @Override
    public int hashCode() {
        int result = 17;
        result = 31 * result + {{TYPES.Java.Util.Objects}}.hashCode(this._kind);
        result = 31 * result + {{TYPES.Java.Util.Objects}}.hashCode(this._value);
        return result;
    }
