/**
 * Builds a {@link {{className}}}.
 *
 * @throws NullPointerException if some of the required fields are null.
 */
public {{className}} build() {
    _checkSingleUse();

    return new {{className}}(this);
}