/**
 * Builds a {@link {{className}}}.
 *
 * @throws NullPointerException if some of the required fields are null.
 */
@Override
@{{TYPES.Javax.Annotation.Nonnull}}
public {{className}} build() {
    _checkSingleUse();

    return new {{className}}(this);
}