@{{TYPES.Javax.Annotation.Nonnull}}
public static{{#typeParameters}} {{.}}{{/typeParameters}} Builder {{#extendedByOtherShape}}{{#camelCase}}{{className}}{{/camelCase}}B{{/extendedByOtherShape}}{{^extendedByOtherShape}}b{{/extendedByOtherShape}}uilder() {
    return new Builder{{#typeParameters}}<>{{/typeParameters}}();
}