@{{TYPES.Javax.Annotation.Nonnull}}
public static Builder {{#extendedByOtherShape}}{{#camelCase}}{{className}}{{/camelCase}}B{{/extendedByOtherShape}}{{^extendedByOtherShape}}b{{/extendedByOtherShape}}uilder() {
    return new Builder();
}