@Override
@{{TYPES.Javax.Annotation.Nonnull}}
{{#shouldImplementPlainDeserializable}}public{{/shouldImplementPlainDeserializable}}{{^shouldImplementPlainDeserializable}}protected{{/shouldImplementPlainDeserializable}} Builder self() {
    return this;
}