{{#fields}}
    {{#type.isMap}}
        {{>ObjectShape/FieldDoc/MapAddAll}}
        {{#deprecation}}@Deprecated{{/deprecation}}
        @{{TYPES.Javax.Annotation.Nonnull}}
        public final Builder{{#extendedByOtherShape}}T{{/extendedByOtherShape}} {{name}}({{type}} map) {
            this.{{name}} = _mapPutAll(this.{{name}}, map);
            return {{^extendedByOtherShape}}this{{/extendedByOtherShape}}{{#extendedByOtherShape}}self(){{/extendedByOtherShape}};
        }

        {{>ObjectShape/FieldDoc/MapAdd}}
        {{#deprecation}}@Deprecated{{/deprecation}}
        @{{TYPES.Javax.Annotation.Nonnull}}
        public final Builder{{#extendedByOtherShape}}T{{/extendedByOtherShape}} {{name}}({{type.mapKeyType}} key, {{type.mapValueType}} value) {
            this.{{name}} = _mapPut(this.{{name}}, key, value);
            return {{^extendedByOtherShape}}this{{/extendedByOtherShape}}{{#extendedByOtherShape}}self(){{/extendedByOtherShape}};
        }
        {{#type.mapValueType.hasBuilder}}

            {{>ObjectShape/FieldDoc/MapAddBuilderFn}}
            {{#deprecation}}@Deprecated{{/deprecation}}
            @{{TYPES.Javax.Annotation.Nonnull}}
            public final Builder{{#extendedByOtherShape}}T{{/extendedByOtherShape}} {{name}}(String key, {{type.mapValueType.builderFnType}} fn) {
                return {{name}}(key, fn.apply(new {{type.mapValueType.builderType}}()).build());
            }
        {{/type.mapValueType.hasBuilder}}
    {{/type.isMap}}
    {{#type.isList}}
        {{>ObjectShape/FieldDoc/ListAddAll}}
        {{#deprecation}}@Deprecated{{/deprecation}}
        @{{TYPES.Javax.Annotation.Nonnull}}
        public final Builder{{#extendedByOtherShape}}T{{/extendedByOtherShape}} {{name}}({{type}} list) {
            this.{{name}} = _listAddAll(this.{{name}}, list);
            return {{^extendedByOtherShape}}this{{/extendedByOtherShape}}{{#extendedByOtherShape}}self(){{/extendedByOtherShape}};
        }

        {{>ObjectShape/FieldDoc/ListAdd}}
        {{#deprecation}}@Deprecated{{/deprecation}}
        @{{TYPES.Javax.Annotation.Nonnull}}
        public final Builder{{#extendedByOtherShape}}T{{/extendedByOtherShape}} {{name}}({{type.listValueType}} value, {{type.listValueType}}... values) {
            this.{{name}} = _listAdd(this.{{name}}, value, values);
            return {{^extendedByOtherShape}}this{{/extendedByOtherShape}}{{#extendedByOtherShape}}self(){{/extendedByOtherShape}};
        }
        {{#type.listValueType.hasBuilder}}

            {{>ObjectShape/FieldDoc/ListAddBuilderFn}}
            {{#deprecation}}@Deprecated{{/deprecation}}
            @{{TYPES.Javax.Annotation.Nonnull}}
            public final Builder{{#extendedByOtherShape}}T{{/extendedByOtherShape}} {{name}}({{type.listValueType.builderFnType}} fn) {
                return {{name}}(fn.apply(new {{type.listValueType.builderType}}()).build());
            }
        {{/type.listValueType.hasBuilder}}
    {{/type.isList}}
    {{^type.isListOrMap}}
        {{>ObjectShape/FieldDoc/Basic}}
        {{#deprecation}}@Deprecated{{/deprecation}}
        @{{TYPES.Javax.Annotation.Nonnull}}
        public final Builder{{#extendedByOtherShape}}T{{/extendedByOtherShape}} {{name}}({{^required}}@{{TYPES.Javax.Annotation.Nullable}} {{/required}}{{type}} value) {
            this.{{name}} = value;
            return {{^extendedByOtherShape}}this{{/extendedByOtherShape}}{{#extendedByOtherShape}}self(){{/extendedByOtherShape}};
        }
        {{#type.hasBuilder}}

            {{>ObjectShape/FieldDoc/Basic}}
            {{#deprecation}}@Deprecated{{/deprecation}}
            @{{TYPES.Javax.Annotation.Nonnull}}
            public final Builder{{#extendedByOtherShape}}T{{/extendedByOtherShape}} {{name}}({{type.builderFnType}} fn) {
                return {{name}}(fn.apply(new {{type.builderType}}()).build());
            }
        {{/type.hasBuilder}}
    {{/type.isListOrMap}}

{{/fields}}