{{#type.isMap}}
    for ({{type.mapEntryType}} item{{depth}} : {{value}}.entrySet()) {
        generator.writeKey(item{{depth}}.getKey());
        {{#type.mapValueType.serializer}}item{{depth}}.getValue(){{/type.mapValueType.serializer}}
    }
{{/type.isMap}}
{{#type.isList}}
    for ({{type.listValueType}} item{{depth}} : {{value}}) {
        {{#type.listValueType.serializer}}item{{depth}}{{/type.listValueType.serializer}}
    }
{{/type.isList}}
{{^type.isListOrMap}}
    {{#type.isPrimitive}}
        {{#type.isNumber}}
            generator.write({{value}}.doubleValue());
        {{/type.isNumber}}
        {{^type.isNumber}}
            generator.write({{value}});
        {{/type.isNumber}}
    {{/type.isPrimitive}}
    {{^type.isPrimitive}}
        {{value}}.serialize(generator, mapper);
    {{/type.isPrimitive}}
{{/type.isListOrMap}}