{{#type.isMap}}
    generator.writeStartObject();
{{/type.isMap}}
{{#type.isList}}
    generator.writeStartArray();
{{/type.isList}}
{{>Type/directSerializer}}
{{#type.isMap}}
    generator.writeEnd();
{{/type.isMap}}
{{#type.isList}}
    generator.writeEnd();
{{/type.isList}}