name: Build

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 14
        uses: actions/setup-java@v2
        with:
          java-version: '14'
          distribution: 'adopt'
      - name: Checkout OpenSearch
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/OpenSearch'
          path: OpenSearch
          ref: '1.0.0'
      - name: Build OpenSearch
        working-directory: ./OpenSearch
        run: ./gradlew publishToMavenLocal
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: Run Docker
        run: |
          docker build -t opensearch-search:test -f .ci/Dockerfile.server --build-arg "SECURE_INTEGRATION=false" .
          docker run -p 9200:9200 -p 9600:9600 -d -e "discovery.type=single-node" opensearch-search:test
          sleep 90
      - name: Run Unit Test
        run: ./gradlew clean unitTest
      - name: Build with Gradle
        run: ./gradlew build
