name: Link Checker

on: [push, pull_request]

jobs:
  linkchecker:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: lychee Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2.6.1
        with:
          args: --accept=200,403,429  "**/*.html" "**/*.md" "**/*.txt" "**/*.json"
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
