{{>Partials/ClassDeclaration}} {
{{^base}}
    public {{className}}({{TYPES.Client.Transport.OpenSearchTransport}} transport) {
        super(transport, null);
    }

{{/base}}
    public {{className}}({{TYPES.Client.Transport.OpenSearchTransport}} transport, @{{TYPES.Javax.Annotation.Nullable}} {{TYPES.Client.Transport.TransportOptions}} transportOptions) {
        super(transport, transportOptions);
    }
{{^base}}

    @Override
    public {{className}} withTransportOptions(@{{TYPES.Javax.Annotation.Nullable}} {{TYPES.Client.Transport.TransportOptions}} transportOptions) {
        return new {{className}}(this.transport, transportOptions);
    }
{{/base}}
{{#children}}
    {{#-first}}

    // ----- Child clients
    {{/-first}}

    public {{type}} {{#camelCase}}{{name}}{{/camelCase}}() {
        return new {{type}}(this.transport, this.transportOptions);
    }
{{/children}}
{{#operations}}

    // ----- Endpoint: {{operationGroup}}

    {{#canBeSingleton}}
    /**
     * {{description}}
     */
    {{#deprecation}}
    @Deprecated
    {{/deprecation}}
    public {{#async}}{{TYPES.Java.Util.Concurrent.CompletableFuture}}<{{/async}}{{responseType}}{{#async}}>{{/async}} {{#camelCase}}{{id}}{{/camelCase}}() throws {{TYPES.Java.Io.IOException}}, {{TYPES.Client.OpenSearch._Types.OpenSearchException}} {
        return this.transport.performRequest{{#async}}Async{{/async}}({{type}}._INSTANCE, {{type}}._ENDPOINT, this.transportOptions);
    }
    {{/canBeSingleton}}
    {{^canBeSingleton}}
    /**
     * {{description}}
     */
    {{#deprecation}}
    @Deprecated
    {{/deprecation}}
    public {{#async}}{{TYPES.Java.Util.Concurrent.CompletableFuture}}<{{/async}}{{responseType}}{{#async}}>{{/async}} {{#camelCase}}{{id}}{{/camelCase}}({{type}} request) throws {{TYPES.Java.Io.IOException}}, {{TYPES.Client.OpenSearch._Types.OpenSearchException}} {
        return this.transport.performRequest{{#async}}Async{{/async}}(request, {{type.name}}._ENDPOINT, this.transportOptions);
    }

    /**
     * {{description}}
     *
     * @param fn a function that initializes a builder to create the {@link {{type}}}
     */
    {{#deprecation}}
    @Deprecated
    {{/deprecation}}
    public final {{#async}}{{TYPES.Java.Util.Concurrent.CompletableFuture}}<{{/async}}{{responseType}}{{#async}}>{{/async}} {{#camelCase}}{{id}}{{/camelCase}}({{type.builderFnType}} fn)
            throws IOException, OpenSearchException {
        return {{#camelCase}}{{id}}{{/camelCase}}(fn.apply(new {{type.builderType}}()).build());
    }
    {{^hasAnyRequiredFields}}

    /**
     * {{description}}
     */
    {{#deprecation}}
    @Deprecated
    {{/deprecation}}
    public final {{#async}}{{TYPES.Java.Util.Concurrent.CompletableFuture}}<{{/async}}{{responseType}}{{#async}}>{{/async}} {{#camelCase}}{{id}}{{/camelCase}}()
            throws IOException, OpenSearchException {
        return {{#camelCase}}{{id}}{{/camelCase}}(new {{type.builderType}}().build());
    }
    {{/hasAnyRequiredFields}}
    {{/canBeSingleton}}
{{/operations}}
}
