package {{packageName}};

import org.opensearch.client.json.JsonEnum;
import org.opensearch.client.json.JsonpDeserializable;

@JsonpDeserializable
public enum {{className}} implements JsonEnum {
    {{#variants}}
    {{name}}({{#dq}}{{wireName}}{{/dq}}),
    {{/variants}}
    ;

    private final String jsonValue;
    private final String[] aliases;

    {{className}}(String jsonValue, String... aliases) {
        this.jsonValue = jsonValue;
        this.aliases = aliases;
    }

    public String jsonValue() { return this.jsonValue; }

    public String[] aliases() { return this.aliases; }

    public static final JsonEnum.Deserializer<{{className}}> _DESERIALIZER = new JsonEnum.Deserializer<>({{className}}.values());
}