@{{TYPES.Client.Json.JsonpDeserializable}}
public enum {{className}} implements {{TYPES.Client.Json.JsonEnum}} {
    {{#variants}}
    {{name}}({{#quoted}}{{wireName}}{{/quoted}}),
    {{/variants}}
    ;

    private final String jsonValue;
    private final String[] aliases;

    {{className}}(String jsonValue, String... aliases) {
        this.jsonValue = jsonValue;
        this.aliases = aliases;
    }

    public String jsonValue() { return this.jsonValue; }

    public String[] aliases() { return this.aliases; }

    public static final JsonEnum.Deserializer<{{className}}> _DESERIALIZER = new JsonEnum.Deserializer<>({{className}}.values());
}