{{>Partials/ClassDeclaration}} {
{{#canBeSingleton}}
    public {{className}}() {}

{{^abstract}}
    /**
    * Singleton instance for {@link {{className}}}.
    */
    public static final {{className}} _INSTANCE = new {{className}}();

    public static final {{TYPES.Client.Json.JsonpDeserializer}}<{{className}}> _DESERIALIZER = {{TYPES.Client.Json.JsonpDeserializer}}.fixedValue({{className}}._INSTANCE);
{{/abstract}}
{{#abstract}}
    {{>ObjectShape/Builder}}
{{/abstract}}
{{/canBeSingleton}}
{{^canBeSingleton}}
    {{>ObjectShape/Fields}}

    // ---------------------------------------------------------------------------------------------

    {{>ObjectShape/Constructor}}
{{#referencingDiscriminatedUnions}}

    {{>ObjectShape/DiscriminatedUnionInterfaceImpl}}
{{/referencingDiscriminatedUnions}}
    {{>ObjectShape/Getters}}

{{#hasFieldsToSerialize}}
    {{>ObjectShape/Serialize}}

{{/hasFieldsToSerialize}}

    // ---------------------------------------------------------------------------------------------

    {{>ObjectShape/ToBuilder}}

    {{>ObjectShape/Builder}}

    // ---------------------------------------------------------------------------------------------

    {{>ObjectShape/Deserialize}}
{{/canBeSingleton}}

    {{>ObjectShape/HashCode}}

    {{>ObjectShape/Equals}}
}
