package org.opensearch.client.opensearch;

import org.opensearch.client.json.*;
import org.opensearch.client.util.*;
import jakarta.json.stream.JsonGenerator;
import java.util.*;
import java.util.function.Function;
import javax.annotation.*;

@JsonpDeserializable
public class {{className}} implements JsonpSerializable {
    {{>ObjectShape/Fields}}
    {{>ObjectShape/Constructor}}
    {{>ObjectShape/Getters}}

    {{>ObjectShape/Serialize}}

    {{>ObjectShape/Builder}}

    {{>ObjectShape/Deserialize}}
}