{{>ObjectShape/ClassDeclaration}} {
    public enum Kind {
        {{#variants}}{{#pascalCase}}{{name}}{{/pascalCase}}{{^-last}},{{/-last}}{{/variants}}
    }

    private final Kind _kind;
    private final Object _value;

    @Override
    public final Kind _kind() {
        return _kind;
    }

    @Override
    public final Object _get() {
        return _value;
    }

    private {{className}}(Kind kind, Object value) {
        this._kind = kind;
        this._value = value;
    }

    private {{className}}(Builder builder) {
        this._kind = {{TYPES.Client.Util.ApiTypeHelper}}.requireNonNull(builder._kind, builder, "<variant kind>");
        this._value = {{TYPES.Client.Util.ApiTypeHelper}}.requireNonNull(builder._value, builder, "<variant value>");
    }

    public static {{className}} of({{type.builderFnType}} fn) {
        return fn.apply(new Builder()).build();
    }

    public String _toJsonString() {
        switch (_kind) {
        {{#variants}}
            case {{#pascalCase}}{{name}}{{/pascalCase}}:
                return {{#type.queryParamify}}this.{{name}}(){{/type.queryParamify}};
        {{/variants}}
            default:
                throw new IllegalStateException("Unknown kind " + _kind);
        }
    }

    {{#variants}}
    /**
     * Is this variant instance of kind {@code {{name}}}?
     */
    public boolean is{{#pascalCase}}{{name}}{{/pascalCase}}() {
        return _kind == Kind.{{#pascalCase}}{{name}}{{/pascalCase}};
    }

    /**
     * Get the {@code {{name}}} variant value.
     *
     * @throws IllegalStateException if the current variant is not the {@code {{name}}} kind.
     */
    public {{type}} {{name}}() {
        return {{TYPES.Client.Util.TaggedUnionUtils}}.get(this, Kind.{{#pascalCase}}{{name}}{{/pascalCase}});
    }

    {{/variants}}

    @Override
    public void serialize({{TYPES.Jakarta.Json.Stream.JsonGenerator}} generator, {{TYPES.Client.Json.JsonpMapper}} mapper) {
        if (_value instanceof {{TYPES.Client.Json.JsonpSerializable}}) {
            (({{TYPES.Client.Json.JsonpSerializable}}) _value).serialize(generator, mapper);
        }{{#primitiveVariants}}{{#-first}} else {
            switch (_kind) {
        {{/-first}}
                case {{#pascalCase}}{{name}}{{/pascalCase}}:
                    {{#type.serializer}}(({{type}}) this._value){{/type.serializer}}
                    break;
        {{#-last}}
            }
        }
        {{/-last}}
        {{/primitiveVariants}}
    }

    public static class Builder extends {{TYPES.Client.Util.ObjectBuilderBase}} implements {{TYPES.Client.Util.ObjectBuilder}}<{{className}}> {
        private Kind _kind;
        private Object _value;

        {{#variants}}
        public {{TYPES.Client.Util.ObjectBuilder}}<{{className}}> {{name}}({{type}} v) {
            this._kind = Kind.{{#pascalCase}}{{name}}{{/pascalCase}};
            this._value = v;
            return this;
        }
        {{#type.hasBuilder}}

        public {{TYPES.Client.Util.ObjectBuilder}}<{{className}}> {{name}}({{type.builderFnType}} fn) {
            return this.{{name}}(fn.apply(new {{type.builderType}}()).build());
        }
        {{/type.hasBuilder}}

        {{/variants}}
        @Override
        public {{className}} build() {
            _checkSingleUse();
            return new {{className}}(this);
        }
    }

    private static {{TYPES.Client.Json.JsonpDeserializer}}<{{className}}> build{{className}}Deserializer() {
        return new {{TYPES.Client.Json.UnionDeserializer.builderType}}<{{className}}, Kind, Object>({{className}}::new, false)
            {{#variants}}.addMember(Kind.{{#pascalCase}}{{name}}{{/pascalCase}}, {{#type}}{{>Type/deserializer}}{{/type}}){{/variants}}
            .build();
    }

    public static final {{TYPES.Client.Json.JsonpDeserializer}}<{{className}}> _DESERIALIZER = {{TYPES.Client.Json.JsonpDeserializer}}.lazy({{className}}::build{{className}}Deserializer);
}
